.hidden {
  display: none;
}

body {
  background-image: "";
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

#weather {
  text-align: center;
  font-size: 30px;
  margin-left: 30%;
  font-weight: bold;
  text-shadow: -1px 0px pink, 0px 1px pink, 1px 0px pink, 0px -1px pink;
}

#quote div {
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 0;
  font-size: 120px;
  text-shadow: -1px 0px pink, 0px 1px pink, 1px 0px pink, 0px -1px pink;
  font-weight: bold;
}

h2 {
  margin-top: 200px;
  text-align: center;
  font-size: 100px;
  color: pink;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  font-weight: bold;
}

#quote {
  margin: 10% 10% 20px 10%;
  background-color: rgba(0, 0, 0, 0.205);
  color: white;
  font-size: 30px;
  text-align: center;
}

#todo-list {
  width: 400px;
  margin: 10px 40% 20px 40%;
  background-color: rgba(105, 105, 105, 0.795);
  font-size: 25px;
  border-radius: 5px;
  color: pink;
}

#todo-list button {
  margin-left: 10px;
  vertical-align: middle;
  background-color: black;
  color: pink;
  border-radius: 10px;
}

#todo-form {
  margin-top: 20px;
}

#todo-form input {
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}

#login-form input {
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}

#login-form button {
  vertical-align: middle;
  background-color: black;
  color: pink;
  border-radius: 5px;
}
